In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Resources/all_perth.csv')

In [4]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,11 Approach Road,Boya,605000,3,2,2.0,2269,190,1975.0,19300,Midland Station,6500,01-2011\r,6056,-31.921047,116.059873,TREETOPS MONTESSORI SCHOOL,1.360161,NaN
1,11 Mons Street,Ashfield,450000,4,2,1.0,533,130,1999.0,8600,Ashfield Station,528,01-2011\r,6054,-31.916110,115.939820,CYRIL JACKSON SENIOR CAMPUS,0.434816,NaN
2,12 Sowden Drive,Samson,495000,3,1,2.0,714,100,1982.0,14300,Murdoch Station,5200,01-2011\r,6163,-32.069367,115.795660,SETON CATHOLIC COLLEGE,0.428525,91.0
3,13 Donavon Rise,Murdoch,375000,4,2,2.0,730,234,1988.0,12400,Murdoch Station,1900,01-2011\r,6150,-32.060980,115.830990,CORPUS CHRISTI COLLEGE,1.207501,28.0
4,13 Mons Street,Ashfield,439000,3,1,2.0,533,118,1999.0,8600,Ashfield Station,526,01-2011\r,6054,-31.916190,115.939910,CYRIL JACKSON SENIOR CAMPUS,0.437388,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32059,93A Kathleen Street,Bassendean,550000,3,1,3.0,450,114,1947.0,9300,Ashfield Station,871,12-2020\r,6054,-31.912620,115.945220,CYRIL JACKSON SENIOR CAMPUS,0.262144,NaN
32060,95B Tamar Street,Palmyra,629000,3,1,1.0,1048,107,1992.0,12000,North Fremantle Station,4200,12-2020\r,6157,-32.044310,115.792520,MELVILLE SENIOR HIGH SCHOOL,1.240266,61.0
32061,97a Edney Road,High Wycombe,480000,4,2,2.0,1684,160,2015.0,14200,Midland Station,6200,12-2020\r,6057,-31.947137,116.009284,DARLING RANGE SPORTS COLLEGE,3.176175,137.0
32062,99 San Javier Circle,Secret Harbour,754000,4,3,4.0,798,380,NaN,51500,Warnbro Station,8900,12-2020\r,6173,-32.404980,115.747520,COMET BAY COLLEGE,1.887527,35.0
32063,9A Simeon Rise,Pearsall,422500,4,2,2.0,724,140,2005.0,19100,Whitfords Station,3800,12-2020\r,6065,-31.784276,115.818178,ALTA-1,0.475902,NaN

In [5]:
df['DATE_SOLD']=df.DATE_SOLD.apply(lambda x : x[:7])

In [6]:
df.insert(0, "ID", range(1, len(df)+1))

In [7]:
df.head()

,ID,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1,11 Approach Road,Boya,605000,3,2,2.0,2269,190,1975.0,19300,Midland Station,6500,01-2011,6056,-31.921047,116.059873,TREETOPS MONTESSORI SCHOOL,1.360161,NaN
1,2,11 Mons Street,Ashfield,450000,4,2,1.0,533,130,1999.0,8600,Ashfield Station,528,01-2011,6054,-31.916110,115.939820,CYRIL JACKSON SENIOR CAMPUS,0.434816,NaN
2,3,12 Sowden Drive,Samson,495000,3,1,2.0,714,100,1982.0,14300,Murdoch Station,5200,01-2011,6163,-32.069367,115.795660,SETON CATHOLIC COLLEGE,0.428525,91.0
3,4,13 Donavon Rise,Murdoch,375000,4,2,2.0,730,234,1988.0,12400,Murdoch Station,1900,01-2011,6150,-32.060980,115.830990,CORPUS CHRISTI COLLEGE,1.207501,28.0
4,5,13 Mons Street,Ashfield,439000,3,1,2.0,533,118,1999.0,8600,Ashfield Station,526,01-2011,6054,-31.916190,115.939910,CYRIL JACKSON SENIOR CAMPUS,0.437388,NaN

In [8]:
df['POSTCODE'] = df['POSTCODE'].astype(str)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32064 entries, 0 to 32063
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                32064 non-null  int32
 1   ADDRESS           32064 non-null  object
 2   SUBURB            32064 non-null  object
 3   PRICE             32064 non-null  int64
 4   BEDROOMS          32064 non-null  int64
 5   BATHROOMS         32064 non-null  int64
 6   GARAGE            29924 non-null  float64
 7   LAND_AREA         32064 non-null  int64
 8   FLOOR_AREA        32064 non-null  int64
 9   BUILD_YEAR        29047 non-null  float64
 10  CBD_DIST          32064 non-null  int64
 11  NEAREST_STN       32064 non-null  object
 12  NEAREST_STN_DIST  32064 non-null  int64
 13  DATE_SOLD         32064 non-null  object
 14  POSTCODE          32064 non-null  object
 15  LATITUDE          32064 non-null  float64
 16  LONGITUDE         32064 non-null  float64
 17  NEAREST_SCH       32064 non-null  object
 18  NEAREST_SCH_DIST  32064 non-null  float64
 19  NEAREST_SCH_RANK  21797 non-null  float64
dtypes: float64(6), int32(1), int64(7), object(6)
memory usage: 4.8+ MB

In [10]:
df.columns

Index(['ID', 'ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH', 'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK'],
      dtype='object')

In [13]:
clean_data = df.drop(columns=['NEAREST_SCH_RANK', 'GARAGE', 'BUILD_YEAR','FLOOR_AREA','BEDROOMS','BATHROOMS','FLOOR_AREA','BUILD_YEAR','NEAREST_SCH_DIST','NEAREST_STN_DIST'])
clean_data.head()

,ID,ADDRESS,SUBURB,PRICE,LAND_AREA,CBD_DIST,NEAREST_STN,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH
0,1,11 Approach Road,Boya,605000,2269,19300,Midland Station,01-2011,6056,-31.921047,116.059873,TREETOPS MONTESSORI SCHOOL
1,2,11 Mons Street,Ashfield,450000,533,8600,Ashfield Station,01-2011,6054,-31.916110,115.939820,CYRIL JACKSON SENIOR CAMPUS
2,3,12 Sowden Drive,Samson,495000,714,14300,Murdoch Station,01-2011,6163,-32.069367,115.795660,SETON CATHOLIC COLLEGE
3,4,13 Donavon Rise,Murdoch,375000,730,12400,Murdoch Station,01-2011,6150,-32.060980,115.830990,CORPUS CHRISTI COLLEGE
4,5,13 Mons Street,Ashfield,439000,533,8600,Ashfield Station,01-2011,6054,-31.916190,115.939910,CYRIL JACKSON SENIOR CAMPUS

In [14]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32064 entries, 0 to 32063
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           32064 non-null  int32
 1   ADDRESS      32064 non-null  object
 2   SUBURB       32064 non-null  object
 3   PRICE        32064 non-null  int64
 4   LAND_AREA    32064 non-null  int64
 5   CBD_DIST     32064 non-null  int64
 6   NEAREST_STN  32064 non-null  object
 7   DATE_SOLD    32064 non-null  object
 8   POSTCODE     32064 non-null  object
 9   LATITUDE     32064 non-null  float64
 10  LONGITUDE    32064 non-null  float64
 11  NEAREST_SCH  32064 non-null  object
dtypes: float64(2), int32(1), int64(3), object(6)
memory usage: 2.8+ MB

In [15]:
clean_data.to_csv('Resources/clean_data.csv',index=False)